<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.zplay.yanxiaoyu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zplaySDK1.0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Partner</key>
	<string>2088801973234157</string>
	<key>RSA private key</key>
	<string>MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBALqtDjojO5XvNgvLQJPZRLjC5ZaypW9Qi8942poaQzBMo1JSEIjkbsDXl5ZwHgo/+SOPDYl3gcRTexLkKrZvlfeL/5u6REoKStGQ1ZlS19aOuBAidQNaV5kl8EEWlkePbRgHNyub2/XAofHDCCMyNPzigFp4Nij5K0vqAETfj2VzAgMBAAECgYBBpmrCd3GVITNYonprhJVuhNxJSzpzE1iX9mCqoWHPsqQdZ075VZy9pRRii7uEz0rG/qA8IBM7AEDgO+3piwSqF/0ckhi5J4iiLCsU5g9ohkTMv8mxNc/z2QbvRMPG+HxID+FcLkDoEixGPwU8c2I0chZEQlkiC/W0JPiVC1P3AQJBAO2zmNGLipwi8d5/lpl592x7i7M2HXvsgfpUT9B6A8M3GECTkz6QbgXvWpwH1FbaWsEo/w5OL9G5Geb69nLY7HECQQDJC+TiQ90EZRP7DWbaur51tCzygZ6FdWEtnzoYq40lp6R49hlj/eMKiGDS0F//475AJRTxRBH6TxhkFw45yTIjAkAZ/p0EtWzoHE41FeDjUdpEC9LAO3fH+JpSROwhkWZd7+WAEmN04RiXH5DaJWUMRn7MRu51owlJtyNlBibzclORAkBQuQ/bsbfqbdNJ+CWWKWkTxZZOgLDvkSPFt6sSAL+ZoOgvEVE8jtI8hmmp+7Sv//eBteHkxZoaUOvQNFmn5hrVAkAjd2OPiEHwSJKwVHrBJO0biiVu6+sHIqhYWjCgbv/RxH550mxfhzGb2ftn/vZo8Eek4hgFx8vGvmdEQxl192F1</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCW2zvGOcY35Rj5QFAyw0uFnpAHT5uTXKX7ypPeSXmKzGz6hZe2YBBMY60MBL</string>
	<key>Seller</key>
	<string>2088801973234157</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
